<h2 class="bg-secondary text-white rounded"><i class="fas fa-user-tie m-2"></i>Employees contacts</h2>

<div class="input-group col-lg-5 mb-2">
    <input type="text" class="form-control bg-light border small shadow" placeholder="Search by name, role, email..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchStr">
    <div class="input-group-append">
        <button class="btn btn-primary" disabled type="button">
    <i class="fas fa-search fa-sm"></i>
  </button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Phone Numbers</th>
        </tr>
    </thead>
    <tbody>
        <tr  class="pointer" *ngFor="let emp of emps | searchEmp:searchStr; let i = index" placement="left" ngbTooltip="{{emp.fullName}}">
            <th scope="row">{{i+1}}</th>
            <td><i class="fa fa-user fa-lg  mr-2"></i>{{emp.fullName}}</td>
            <td>{{emp.role}}</td>
            <td><a href="mailto:{{emp.email}}"><i class=" fa fa-envelope fa-lg text-info mr-2" placement="top"
					ngbTooltip="Send Email"></i></a>{{emp.email}}</td>
            <td><i class="fas fa-birthday-cake text-primary mr-2" placement="top"
					ngbTooltip="Birthday"></i>{{emp.bday}}</td>
            <td>
                <li *ngFor="let emp of emp.phone">
				<a href="tel:{{emp}}"><i class="mr-1 fa fa-phone fa-sm text-success" placement="top"
						ngbTooltip="Phone Call"></i></a> {{emp}}
                </li>
            </td>
        </tr>
</table>

<!--Just for Create Employee for test-->
<!-- <button class="btn btn-primary" (click)="addStaticEmp()">Push to add Static Emp</button>  -->  