<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-cogs fa-5x"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CRM COMPANY</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active pointer" routerLink="./customers">
        <a class="nav-link">
            <i class="fas fa-users"></i>
            <span>Customers</span></a>
    </li>
    <li class="nav-item active pointer" routerLink="./employees">
        <a class="nav-link">
            <i class="fas fa-user-tie"></i>
            <span>Employees contacts</span></a>
    </li>
    <li class="nav-item active pointer" routerLink="./addCustomer">
        <a class="nav-link">
            <i class="fas fa-user-plus"></i>
            <span>Add Customer</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">





</ul>
<!-- End of Sidebar -->