<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">
	<div class="d-flex m-auto">
		<div class="alert alert-success" role="alert">
			<i class="fas fa-bell mr-2"></i>
			<strong>3</strong> New leads inbox
		</div>
		<div class="alert alert-danger mx-2" role="alert">
			<i class="fas fa-user-clock mr-2"></i>
			<strong>1</strong> Meating today
		</div>
		<div class="alert alert-warning" role="alert">
			<i class="fas fa-exclamation-triangle mr-2"></i>
			<strong>10</strong> Open issue
		</div>
	</div>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow" ngbDropdown>
            <a class="nav-link dropdown-toggle mr-2" id="userDropdown" role="button" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600" ><u>{{email}}</u></span>
                <img class="img-profile rounded-circle" src="../assets/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" ngbDropdownMenu aria-labelledby="userDropdown">
                <a class="dropdown-item">
                    <i class="fas fa-cog fa-lg mr-2 text-gray-400"></i><del>My Preferences</del>
                </a>
                <div class="dropdown-divider"></div>
                <a (click)="logOut()" class="dropdown-item pointer logout"  placement="bottom" ngbTooltip="LogOut"data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-lg mr-2 text-danger"></i> <strong>Logout</strong>
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->