<h2 class="bg-secondary text-white rounded shadow"><i class="fas fa-user m-2"></i>Customers</h2>
<div class="input-group col-lg-5 mb-2">
    <input (input)="searchChanged($event.target.value)" type="text" class="form-control bg-light border small shadow" placeholder="Search by name, email, phone..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary rounded-right" disabled type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
		<button class="btn btn-primary ml-5" routerLink="./addCustomer"><i class="fas fa-user-plus mr-2"></i>Add Customer</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Created: date and time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="pointer" *ngFor="let item of customers; let i = index" placement="left" ngbTooltip="{{item.firstName}} {{item.lastName}}">
            <th scope="row">{{i+1}}<i (click)="open(content, item)" class="px-3 fas fa-eye text-primary fa-lg " placement="top" ngbTooltip="Customer Details"></i></th>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.timestamp | timeStampToDateWithTime}}</td>
            <td>
                <a href="tel:{{item.phoneNumber}}"><i class="pr-3 fa fa-phone fa-lg text-success" placement="top"
				    ngbTooltip="Phone Call"></i></a>
                <a href="mailto:{{item.email}}"><i class=" fa fa-envelope fa-lg text-info" placement="top"
    ngbTooltip="Send Email"></i></a>
                <i (click)=" showCustomer(item) " class="px-3 fa fa-user-edit text-primary fa-lg " placement="top" ngbTooltip="Edit Customer"></i>
                <i (click)="remove(del,item) " class="fa fa-user-times fa-lg text-danger " placement="top" ngbTooltip="Delete Customer"></i>
            </td>
        </tr>
</table>

<ng-template #del let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete customer <strong class="text-danger">{{customerDelete.firstName}} {{customerDelete.lastName}}</strong> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
    </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4 img">
                    <i class="fa fa-user fa-5x mx-4 mt-4"></i>
                    <hr>
                    <div><strong><u>Note:</u></strong></div><br>
                    <div class="badge badge-primary text-wrap text-break overflow-hidden" style="width: 8rem;">
                        {{custDetail.notes}}
                    </div>
                </div>
                <div class="col-md-6 details">
                    <strong><u>Customer name:</u></strong><br>
                    <span>{{custDetail.firstName}} {{custDetail.lastName}}</span>
                    <hr>
                    <strong><u>Email:</u></strong><br>
                    <span>{{custDetail.email}} <a href="mailto:{{custDetail.email}}"><i
                          class="fa fa-envelope fa-lg text-primary"
                          placement="top" ngbTooltip="Send Email"></i></a></span>
                    <hr>
                    <strong><u>Phone:</u></strong><br>
                    <span>{{custDetail.phoneNumber}} <a href="tel:{{custDetail.phoneNumber}}"><i
                          class="fa fa-phone fa-lg text-success"
                          placement="top" ngbTooltip="Phone Call"></i></a></span>
                    <hr>
                    <strong><u>Created: date and time:</u></strong><br>
                    <span>{{custDetail.timestamp | timeStampToDateWithTime}}</span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
</ng-template>